.product-container {
  display: flex;
  flex-directon: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 700px) {

  }

}

.card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width:700px) {
    width: 1000%;
    flex-direction: row;

  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img{
    width: 100%;
    height: auto;
  }

/*  &__vara{
    width: 66%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
  */
}
.f {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;


  @media (min-width: 700px) {
    flex-direction: row;
  }

  &__field {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;
  }

  &__field__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }

  &__field__timi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
}

.pay{
  display: flex;
  flex-direction: column;

  @media (min-width: 700px) {

  }

  &__buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
}
