$gutter: 20px;
$font_family_1: 'Open Sans', helvetica, arial, sans-serif;

.footer {
  background-color: #cc9694;

  &__container {
    display: flex;
    max-width: 1200px;
    padding: $gutter;
    flex-direction: column;
    @media (min-width: 1200px) {
      padding: $gutter 0;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__boxes {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }

  &__box {
    display: flex;
    width: 50%;
    padding: $gutter $gutter * 0.5;
    flex-direction: column;

    @media (min-width: 1200px) {
      width: 25%;
    }
  }

  &__headline {
    font-family: $font_family_1;
    font-size: 24px;
    font-weight: bold;
    line-height: 3;
    //text-decoration: none;
  }

  &__items {
    line-height: 2;
    color: #fcffd2;
  }

  &__copyright {
    align-self: center;
    padding: $gutter;
  }
}
