@mixin col($width: 100%) {
  width: $width;
  padding-right: 10px;
  padding-left: 10px;
}

@mixin centered() {
  margin-right: auto;
  margin-left: auto;
}

.footer {
  background-color: #cc9694;

  &__container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    @media (min-width: 1230px) {
      max-width: 1200px;
      padding: 0;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__boxes {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }

  &__box {
    padding-top: 20px;
    padding-bottom: 20px;
    @include col(50%);
  }

  &__copyright {
    align-self: center;
    padding: 20px;
  }

  &__items {
    line-height: 2;
    color: #fcffd2;
  }

  &__headline {
    line-height: 3;
  }
}
