$gutter: 20px;
@mixin col($width: 100%) {
  width: $width;
  padding-right: 10px;
  padding-left: 10px;
}

@mixin centered() {
  margin-right: auto;
  margin-left: auto;
}

.footer {
  background-color: #cc9694;

  &__container {
    display: flex;
    max-width: 1200px;
    padding: 20px;
    flex-direction: column;
    @media (min-width: 1200px) {
      padding: $gutter 0;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__boxes {
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }

  &__box {
    width: 50%;
    padding: $gutter ($gutter * 0.5);

    @media (min-width: 1200px) {
      width: 25%;
    }
  }

  &__copyright {
    align-self: center;
    padding: $gutter;
  }

  &__items {
    line-height: 2;
    color: #fcffd2;
  }

  &__headline {
    line-height: 3;
  }
}
