@mixin flexa($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin col($width: 100%) {
  padding-right: 10px;
  padding-left: 10px;
  width: $width;
}

.header {
  background-color: #afb281;

  &__container {
    padding-right: 20px;
    padding-left: 20px;
    @include flexa(column);
    justify-content: space-around;
    align-items: center;
  }

}