
.card {
	width: 100%;
	max-width: 390px;
	max-height: 645px;
	margin-bottom: 20px;
	padding: 5px;

	&--img {
		width: 390px;
	height: 385px;
	}
}
@media (min-width: 800px) {
	.cards {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
}
@media (max-width: 1500px) {
	.cards {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
}