.card {
	width: 100%;
	max-width: 390px;
	max-height: 645px;
	margin-bottom: 20px;
	padding: 5px;

	&__img {
	  width: 390px;
	  height: 385px;  
	}
	&__button {
		border-radius: 4px;
		padding: 20 px;
	}
}
@media (min-width: 800px) {
	.cards {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
}
@media (max-width: 1500px) {
	.cards {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
}