$background_color_1: #cc9694;

.card {
	width: 100%;
	max-width: 390px;
	max-height: 645px;
	margin-bottom: 20px;
	padding: 5px;
	
	&__img {
		width: 390px;
		height: 385px;
	}
	
	&__box {
		width: 62%;
		height: 40px;
		border: 1.2px solid #000000;
		border-radius: 5px;
		font-size: 14px;
	}
	&__button {
		width: 32%;
		height: 40px;
		border: 1.2px solid #000000;
		border-radius: 5px;
		font-size: 14px;
		&:hover {
			border: #cc9694;
			background-color: $background_color_1;
		}
	}
}

@media (min-width: 800px) {
	.cards {
		display: flex;
		flex: 1;
		flex-flow: row wrap;
		justify-content: space-around;
	}
}
@media (max-width: 1500px) {
	.cards {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
}