$font_family_1: 'Open Sans', helvetica, arial, sans-serif;
$font_family_2: 'Oswald', Verdana, sans-serif;
$color_1: #000000;
$background_color_1: #ffffff;

.staff {
	&__img { display: block;
	width: 430px;
	height: 641px;
}
&__card {
  //framhlið 
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5 ease;
	background-color: $background_color_1;
}
& {
	&:hover {
    //bakhlið 
    opacity: 1;
	}
}
text {
	color: $color_1;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

