$font_family_1: 'Open Sans', helvetica, arial, sans-serif;
$font_family_2: 'Oswald', Verdana, sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	&:before {
		box-sizing: inherit;
	}
	&:after {
		box-sizing: inherit;
	}
}

html {
	box-sizing: border-box;
	font-family: $font_family_1;
	font-size: 16px;
}

main {
	margin: 0 auto;
	max-width: 1220px;
	/*padding-left: 20px;
	padding-right: 20 px;
	*/

	@media (min-width: 1200px) {
		padding-right: 0;
		padding-left: 0;
	}
}

$color_1: #000000;
$background_color_1: #ffffff;

img {
	display: block;
	width: 100%;
	height: auto;
}
.staff-cards {
	position: relative;
	width: 50%;
	&:hover {
		.overlay {
			opacity: 1;
		}
	}
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	trasition: .5s ease;
	background-color: $background_color_1;
}
text {
	color: $color_1;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

