$gutter: 20px;
$vw: 70vw;

.image {
  max-width: 100%;
}

button {
  width: 66.66%;
  height: 45px;
}

.start {
  display: flex;
  padding-top: $gutter;// * 2;
  padding-bottom: $gutter;
  //margin: 20px auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: 700px) {
    flex-direction: row;
  }

  &__box {
    display: flex;
    width: 100%;
    min-height: 67vw;
    //padding-bottom: $gutter;
    border: 3px solid pink;
    flex-wrap: wrap;
    margin-top: 40px;
    //padding-top: $gutter * 2;
    

    &:nth-child(odd) {
      padding-left: $gutter;
      //margin-bottom: 10px;
      
      //padding: $gutter;
    }
    font-size: 24px;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1200px) {
      justify-content: space-around;
      height: 80%;
    }

    @media (min-width: 700px) {
      width: 49%;
      min-height: 32vw;
      padding-bottom: 0;
      margin-bottom: 20px;
      margin-top: 20px;
      //flex-direction: row;

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(odd) {
        padding: 0 20px $gutter;
        transition: padding 900ms ease-in-out;
      }
    }

    @media (min-width: 1200px) {
      width: 50%;
      min-height: 0;
      padding-right: 10px;
      padding-left: 10px;
      //margin: 10px auto;

      &:nth-child(odd) {
        padding: 0 10px 20px;

        transition: padding 900ms ease-in-out;
      }
      //padding-right: $gutter * 0.5;
      //padding-left: $gutter * 0.5;
      //padding: 0px 20px 20px;

    }

  }

}
