@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
}
/*
main {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  @media (min-width: 1220px) {
    padding-right: 0;
    padding-left: 0;
  }
}*/

// TODO sækja allar sass skrár
//@import "scss/...";

@import "scss/header";

@import "scss/start";

@import "scss/footer";