@import "scss/config";

$black: #000000;
$font_family_1: 'Open Sans', helvetica, arial, sans-serif;
$font_family_2: 'Oswald', Verdana, sans-serif;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $font_family_1;
  font-size: 16px;

  // TODO fleiri grunn stillingar
}

main { /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;

  /*
  padding-right: 20px;
  padding-left: 20px;
  */
  @media (min-width: 1220px) {
    padding-right: 0;
    padding-left: 0;
  }
}

a { /* stylelint-disable-line */
  color: $black;
  text-decoration: none;
}

h2 { /* stylelint-disable-line */
  font-family: $font_family_2;
  text-align: left;
}

h3 { /* stylelint-disable-line */
  font-family: $font_family_2;
}

// TODO sækja allar sass skrár
//@import "scss/...";

@import "scss/header";

@import "scss/start";

@import "scss/footer";

@import "scss/products";

@import "scss/staff";

@import "scss/cart";
